nav{
   align-items: self-start;
}

.bg, .centralitems{
    background: url('8.webp') no-repeat ;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

form {
    width: 15rem;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

p {
    margin: 0;
    padding: 10px;
    background-color: #2ecc71;
    border: 1px solid #27ae60;
    border-radius: 5px;
    color: #fff;
}

.content {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.centralitems{
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

